@import '../../common/styles/templates';

.pageContainer {
  @extend %flex-container;
  height: 100%;

  background: url('./../../common/square.jpg') no-repeat center;
}

.todoContainer {
  @extend %flex-container;
  justify-content: unset;
  flex-direction: column;

  width: 600px;
  height: 400px;

  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px black;
}
