@import '../../common/styles/templates';

.pageContainer {
  @extend %flex-container;
  height: 100%;
}

.lightTheme {
  background: url('./../../common/square.jpg') no-repeat center;
}

.darkTheme {
  background: url('./../../common/square-night.jpg') no-repeat center;
}
