@import '../../common/styles/templates';

.headerContainer {
  @extend %flex-container;
  background-color: rgb(170, 255, 251);
  height: 40px;
  width: 100%;

  h2 {
    margin-right: auto;
    padding-left: 25px;
    font-weight: bold;
  }
}
